@use '../../../src/styles/variables.scss' as *;


.router {
  margin: 0 auto;
  display: flex;
  width: 100vw;
  min-height: 900px;
  height: 100vh;
  justify-content: center;
  transition: background 0.3s ease 0s;
  overflow: hidden;


  //.router__container
  &__container {
    padding: $containerPadding;
    display: flex;
    height: 100%;
    width: $maxWidthContainer;
    min-width: $minWidthContainer;


    //.router__container_content
    &_content {
      margin: auto;
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 36px;


      //.router__container_content_title
      &_title {
        font-size: 64px;
        text-transform: uppercase;
        font-weight: 700;

        h1 {
          line-height: 90%;
          color: var(--main-text);

          span {
            color: var(--secondary-text);
          }
        }
      }

      nav {
        display: flex;
        flex-direction: row;
        gap: 30px;

        a {
          padding: 6px 18px;
          display: flex;
          height: 48px;

          font-size: 18px;
          color: var(--main-text);

          justify-content: space-between;
          align-items: center;

          cursor: pointer;

          border-radius: 24px;
          border: 1px solid var(--hover-btn);
          transition: all 0.3s ease .1s;

          &:hover {
            background: rgba(238, 238, 238, 0.1);
          }
        }
      }
    }
  }
}


.page {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 355px;
  flex-direction: row;
  justify-content: space-between;

  [id='bg'] {
    position: absolute;
    bottom: -110px;
    left: -35px;
    z-index: 1;
  }

  img {
    z-index: 2;
  }

  p {
    margin: auto 0;
    min-height: 62px;
    width: 480px;
    font-size: 18px;
    color: var(--gray-text);
  }
}